<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Рецепты</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            padding: 20px;
        }

        h1&h2 {
            font-size: 16px;
            color: #333;
            margin: 5px 0;
        }

        p {
            font-size: 17px;
            color: #666;
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <h1 style="font-size: 20px;">Привет, введи нужный рецепт в адресной строке:</h1>
    <p>
      Выбор рецепта:<br>
        /omlet/ - омлет<br>
        /pasta/ - паста<br>
        /tea/ - чай<br>
        /buter/ - бутерброд
    </p>

    <h2 style="font-size: 20px;">Чтобы ввести нужное вам количество порций и расчитать ингридиенты, нужно:</h2>
    <p>
      Добавить в адресную строку:<br>
        ?servings=1 - одна порция<br>
        ?servings=2 - две порции и т.д.
    </p>
</body>
</html>
